@keyframes scales {
    from {
        width: 0;
    }
    to {
        width: 95%;
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}