@keyframes scales {
    from {
        width: 0;
    }
    to {
        width: 85%;
    }
}

@keyframes scales_s {
    from {
        width: 0;
    }
    to {
        width: 55%;
    }
}

@keyframes scales_m {
    from {
        width: 0;
    }
    to {
        width: 75%;
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}