.education {
    min-height: 1491px;
    background-color: $background-grey;
    padding: 180px 0;
    &__title {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 140px;
    }
    &__circle {
        width: 68px;
        height: 69px;
        border: 3px solid $main-color;
        border-radius: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            color: $main-color;
            &::after {
                content: '';
                position: absolute;
                top: 251px;
                left: 50%;
                transform: translateX(-50%);
                height: 105px;
                width: 5px;
                background-color: $main-color;
            }
        }
    }
    &__wrapper {
        padding-top: 70px;
        display: grid;
        grid-template-rows: repeat(4, 90px);
        row-gap: 120px;
        justify-items: center;
    }
    &__item {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 405px);
        column-gap: 70px;
        align-content: center;
        &:last-child::after {
            content: '';
            position: absolute;
            top: 164px;
            left: 50%;
            transform: translateX(-50%);
            width: 18px;
            height: 18px;
            background-color: $main-color;
            border-radius: 50%;
        }
        &::before {
            content: '';
            position: absolute;
            top: 64px;
            left: 50%;
            transform: translateX(-50%);
            height: 178px;
            width: 5px;
            background-color: $main-color;
        }
        &:last-child::before {
            content: '';
            position: absolute;
            top: 64px;
            left: 50%;
            transform: translateX(-50%);
            height: 105px;
            width: 5px;
            background-color: $main-color;
        }
    }
    &__course {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:nth-child(odd) {
            justify-self: end;
        }
        &:nth-child(even) {
            justify-self: start;
        }
        &::before {
            content: '';
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
            width: 34px;
            height: 35px;
            border: 3px solid $main-color;
            border-radius: 50%;
        }
        &::after {
            content: '';
            position: absolute;
            top: 41px;
            left: 50%;
            transform: translateX(-50%);
            width: 11px;
            height: 12px;
            background-color: $main-color;
            border-radius: 50%;
        }
    }
    &__descr {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        letter-spacing: 0.02em;
        color: $white;
        &:nth-child(odd) {
            justify-self: start;
            text-align: right;
        }
        &:nth-child(even) {
            justify-self: end;
        }
    }
    &__place {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__name {
        font-size: 27px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        color: $main-color;
        &_left {
            text-align: right;
        }
        &_right {
            text-align: left;
        }
    }
    &__city,
    &__year {
        display: inline;
        font-size: 16px;
        font-weight: 400;
        color: $white;
    }
    &__devider {
        width: 2px;
        height: 13px;
        background-color: $white;
        margin: 0 10px 0 10px;
    }
}