@media(max-width: 1200px) {
    .container {
        padding: 0 15px;
    }
    .skills {
        &__wrapper {
            gap: 60px 100px;
        }
        &__line {
            width: 410px;
        }
    }
    .contact {
        padding: 90px 15px;
    }
    #inputname {
        height: 40px;
        width: calc(50% - 30px);
    }
    #inputmail {
        height: 40px;
        width: calc(50% - 30px);
    }
}

@media(max-width: 992px) {
    .about {
        &__text {
            margin-left: 100px;
        }
        &__square {
            width: 300px;
            height: 300px;
        }
        &__photo {
            img {
                width: 300px;
                height: 300px;
            }
        }
    }
    .education {
        &__item {
            grid-template-columns: repeat(2, 1fr);
        }
        &__city {
            font-size: 15px;
        }
    }
    .experience {
        &__item {
            grid-template-columns: repeat(2, 1fr);
        }
        &__city {
            font-size: 15px;
        }
    }
    .skills {
        &__wrapper {
            gap: 60px 60px;
        }
        &__line {
            width: 320px;
        }
    }
    .works {
        &__wrapper {
            grid-template-rows: repeat(3, minmax(auto, 300px));
            grid-template-columns: repeat(2, minmax(auto, 300px));
        }
    }
}

@media(max-width: 768px) {
    .title {
        font-size: 40px;
        text-align: center;
    }
    .btn {
        margin-bottom: 30px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-top: 90px;
            padding-left: 28px;
        }
        &__item {
            margin-bottom: 12px;
        }
    }
    .main {
        padding-bottom: 160px;
        &__hamburger {
            &:hover {
                box-shadow: none;
                cursor: pointer;
            }
        }
        &__hamburger_active {
            right: calc(100% - 230px);
        }
        &__header {
            margin-top: 140px;
            font-size: 100px;
        }
        &__subheader {
            font-size: 74px;
        }
    }
    .about {
        padding-top: 90px;
        &__wrapper {
            display: block;
        }
        &__text {
            margin-left: 0;
            padding-right: 0;
        }
        &__square {
            display: block;
            margin: 0 auto;
            width: 300px;
            height: 300px;
        }
        &__photo {
            img {
                left: 50%;
                transform: translateX(-65%);
                width: 300px;
                height: 300px;
            }
        }
        &__descr {
            text-align: center;
        }
        &__attr {
            text-align: center;
        }
    }
    .interests {
        min-height: 520px;
        padding-top: 90px;
    }
    .education {
        &__circle i::after {
            top: 197px;
        }
        &__name {
            font-size: 24px;
        }
        &__city,
        &__year {
            font-size: 11px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .experience {
        &__circle i::after {
            top: 197px;
        }
        &__name {
            font-size: 24px;
        }
        &__city,
        &__year {
            font-size: 11px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .skills {
        &__wrapper {
            gap: 60px 60px;
        }
        &__line {
            width: 226px;
        }
    }
    .certificates {
        &__wrapper {
            grid-template-columns: repeat(1, 320px);
            grid-template-rows: repeat(5, minmax(auto, 320px));
            row-gap: 20px;
            justify-content: center;
        }
        &__item {
            &:nth-child(1) {
                order: 2;
            }
            &:nth-child(2) {
                order: 1;
            }
            &:nth-child(3) {
                order: 3;
            }
            &:nth-child(4) {
                order: 5;
            }
            &:nth-child(5) {
                order: 4;
            }
        }
    }
    .library {
        min-height: 750px;
        &__shelf:nth-child(5) {
            margin-bottom: 90px;
        }
    }
}

@media(max-width: 576px) {
    .title {
        font-size: 32px;
    }
    .menu {
        &__block {
            width: 320px;
        }
        &__social {
            bottom: 15%;
        }
    }
    .main {
        padding-bottom: 90px;
        &__hamburger_active {
            right: calc(100% - 300px);
        }
        &__social {
            max-width: 154px;
        }
        &__header {
            margin-top: 90px;
            font-size: 60px;
        }
        &__subheader {
            font-size: 48px;
        }
    }
    .about {
        &__square {
            width: 270px;
            height: 270px;
        }
        &__photo {
            img {
                width: 270px;
                height: 270px;
                transform: translateX(-55%);
            }
        }
    }
    .interests {
        min-height: 453px;
        &__wrapper {
            justify-content: center;
        }
        &__circle {
            width: 65px;
            height: 65px;
        }
        &__descr {
            font-size: 19px;
            margin-top: 5px;
        }
    }
    .education {
        min-height: 1256px;
        &__item {
            column-gap: 50px;
        }
        &__name {
            font-size: 16px;
        }
        &__place {
            flex-direction: column;
            align-items: unset;
            &_left {
                align-items: flex-end;
            }
            &_right {
                align-items: flex-start;
            }
        }
        &__devider {
            display: none;
        }
        &__descr {
            line-height: 14px;
            font-size: 13px;
        }
        &__circle i::after {
            top: 188px;
        }
    }
    .experience {
        min-height: 1080px;
        &__item {
            column-gap: 50px;
        }
        &__name {
            font-size: 16px;
        }
        &__place {
            flex-direction: column;
            align-items: unset;
            &_left {
                align-items: flex-end;
            }
            &_right {
                align-items: flex-start;
            }
        }
        &__devider {
            display: none;
        }
        &__descr {
            line-height: 14px;
            font-size: 13px;
        }
        &__circle i::after {
            top: 188px;
        }
    }
    .skills {
        &__wrapper {
            grid-template: repeat(3, 1fr)/repeat(1, 1fr);
            gap: 30px 0;
        }
        &__line {
            width: 226px;
        }
    }
    .certificates {
        padding: 90px 0px;
        &__wrapper {
            grid-template-columns: repeat(1, 240px);
            grid-template-rows: repeat(5, minmax(auto, 240px));
            justify-content: center;
        }
        &__item {
            &_active {
                width: 260px;
                justify-self: center;
            }
        }
        &__name {
            font-size: 20px;
        }
        &__number {
            font-size: 24px;
        }
        &__photo {
            width: 87%;
            height: 87%;
        }
    }
    .library {
        min-height: 580px;
        padding: 90px 0;
        padding-bottom: 20px;
        &__shelf {
            height: 60px;
            img {
                height: 40px;
            }
        }
    }
    .works {
        &__wrapper {
            grid-template-columns: repeat(1, minmax(auto, 300px));
        }
        &__item {
            &:nth-child(5) {
                display: none;
            }
            &:last-child {
                display: none;
            }
        }
    }
    .contact {
        min-height: 670px;
        &__wrapper {
            height: 260px;
        }
        &__line {
            flex-direction: column;
        }
        &__label_second {
            top: 50%;
            left: 0;
            transform: none;
        }
        &__btn {
            margin-top: 50px;
        }
    }
    #inputname {
        height: 40px;
        width: 100%;
    }
    #inputmail {
        height: 40px;
        width: 100%;
    }
    #inputtext {
        height: 120px;
    }
    #inputname-error {
        left: 25%;
        top: 20%;
    }
    #inputmail-error {
        left: 25%;
        top: 70%;
    }
    .footer {
        min-height: 227px;
        padding-top: 0;
        &__link {
            margin: 0 7px;
        }
    }
}